<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head('create')">
</head>
<body id="body-index">
<nav class="content" th:replace=" fragments/fragments :: navbar"></nav>

<div>

    <form enctype="multipart/form-data" th:action="@{/posts/create}" method="post" th:object="${post}">
        <label>title</label>:
        <input th:field="*{title}" name="title"/>
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" />

        <br/>
        <label>description</label>
        <input th:field="*{body}" name="body"/>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}" />

        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file" />

        <br/>
        <input type="submit"/>
    </form>
</div>

</body>
</html>