<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/fragments :: head('show ad')">
</head>
<body id="body-index">
<nav class="content" th:replace=" fragments/fragments :: navbar"></nav>

<h1>show</h1>
<div>
    <form th:action="@{/posts/{id}/show (id=${post.id})}" method="post" th:object="${post}">
        <h1 th:text="${post.title}">...</h1>
        <h2 th:text="${post.body}">...</h2>
    </form>
    <form th:action="@{/posts/{id}/delete (id=${post.id})}" method="post" th:object="${post}">
        <div id="forms">
            <th:block sec:authorize="isAuthenticated()">
                <a th:if="${#authentication.principal.id == post.user.id}" id="update"
                   th:href="@{/posts/{id}/update (id = ${post.id})}" th:text="${'update '+ post.title}">update</a>

                <input id="delete" type="hidden" name="id" th:value="${post.id}"/>

                <input type="submit" th:if="${#authentication.principal.id == post.user.id}" value="delete"/>
                <a th:if="${#authentication.principal.id == post.user.id}" th:href="@{/posts/create}">upload a file</a>


            </th:block>



        </div>

    </form>
    <a><img th:src="${'/uploads/' + post.uploadfile}" alt=""/></a>

</div>

</body>
</html>