<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/fragments :: head('update')">
</head>
<body id="body-index">
<nav class="content" th:replace=" fragments/fragments :: navbar"></nav>

<div>
    <form th:action="@{/posts/{id}/update (id=${post.id})}" method="post" th:object="${post}">
        title:
        <input th:field="*{title}"/>
        <br/>
        body:
        <input th:field="*{body}"/>
        <input type="submit"/>
    </form>
</div>

</body>
</html>