#home, #link, #contact {
    list-style-type: none;
    text-align: center;
    margin: 2px;
}

#div-nav {
    text-align: center;
}

#body-index {
    color: crimson;
    margin-left: 10px;
    background-color: black;

}

#ul-container {
    width: 100%;
    text-align: center;
}

html {

    background-color: black;
}

#post-div {
    border: 1px solid white;
}

.content {
    text-align: center;
}

#t {
    text-align: center;
}

#nav-div {
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none
}

.h1, h1, h2 {
    font-size: 36px;
    text-align: center;
}
#forms{
    width: 100%;
    text-align: center;
}
#update, #delete {
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}